* {
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'Roboto Slab', serif;
  height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-section {
  background-color: #E5F3F2;
}

h1 {
color: #00A79D;
text-align: center;
margin-bottom: .5%;
font-size: 3rem;
}

span {
color: #6D6E71;
}

.title-input, .body-input{
  width: 50%;
  margin-bottom: .8%;
  height: 1.8rem;
  font-size: 1rem;
}

.title-input::placeholder{
  font-size: 1rem;
  color: lightgrey;
}

.body-input::placeholder{
  font-size: 1rem;
  color: lightgrey;
}

.save-btn {
background-color: #00A79D;
color: #fff;
width: 50%;
height: 1.8rem;
border: none;
margin-bottom: 2%;
font-size: 1rem;
}

.save-btn:hover:enabled {
  background-color: #045E55;
  color: #fff;
}

.save-btn:disabled {
  background-color: gray;
}

.card-title {
  color: #6D6E71;
}

.card-body {
  color: #939598;
}

.quality-label{
  color: #6D6E71;
}

.selected-quality {
  color: #6D6E71;
}

.search-input {
  margin: 2% 0;
  width: 50%;
  height: 1.8rem;
}
.search-input::placeholder {
font-size: 1rem;
color: lightgrey;
}

.card-top {
 display: flex;
 justify-content: space-between;
 margin-bottom: 1%;
}

.card-bottom {
  display: flex;
  margin: 3% 0;
}
.fa-arrow-circle-down, .quality-label{
  margin-left: 2%;
}

.card-section { 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.card-article {
  border-bottom: 1px solid #D1D3D4;
  width: 50%;
}

.fas, .far {
color: #6D6E71;
}

.fa-times-circle:hover {
color: #DD4F41;
}

.fa-arrow-circle-up:hover {
color: #60B258;
}

.fa-arrow-circle-down:hover {
color: #F2B257;
}


